In [593]:
#imoprt and create path for data
import pandas as pd
csv_path = "Resources/purchase_data.csv"
Heroes_df = pd.read_csv(csv_path)
Heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [594]:
#Make Purchase ID the index
Heroes_set_index_df = Heroes_df.set_index(["Purchase ID"])

In [595]:
#Change SN to players name
Heroes_player_renamed_df = Heroes_set_index_df.rename(columns={"SN": "Players"})

In [596]:
#Calculate the player count
Player_Count_df = Heroes_player_renamed_df["Players"].nunique()

In [597]:
#Print dataframe player count
Heroes_frame_df = pd.DataFrame({"Total Players": [Player_Count_df]})
Heroes_frame_df

   Total Players
0            576

In [598]:
#Calculate the number if Unique items by Item name 
#Calculate the Average price by Price
#Count the number of total purchaes by Item name 
#Calculate the total revenue by Price 
Heroes_item_df = Heroes_player_renamed_df["Item Name"].nunique()
Heroes_average_price_df = Heroes_player_renamed_df["Price"].mean()
Heroes_item_count_df = Heroes_player_renamed_df["Item Name"].count()
Heroes_total_price_df = Heroes_player_renamed_df["Price"].sum()

In [599]:
#Create a dataframe for the purchase analysis (total)
#formate the ouput by rounding and adding $
Heroes_summary_df = pd.DataFrame({"Number of Unique Items": [Heroes_item_df],"Average Price": [Heroes_average_price_df], "Number of Purchases": [Heroes_item_count_df], "Total Revenue": [Heroes_total_price_df]})
Heroes_summary_df["Average Price"] = Heroes_summary_df["Average Price"].map("${:.2f}".format)
Heroes_summary_df["Total Revenue"] = Heroes_summary_df["Total Revenue"].map("${:.2f}".format)
Heroes_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [600]:
#Elimanate duplicate players
Names_df = Heroes_player_renamed_df.drop_duplicates("Players")

In [601]:
#Group data, with duplicates removed, by Gender and subset Players
Names_gender_df = Names_df.groupby("Gender")["Players"].count()

In [602]:
#calculate the percentages of each gender 
Gender_percentage_df = Names_gender_df / Player_Count_df *100

In [603]:
#Create a dataframe for gender percentages 
# #format to add %
Heroes_gender_summary_df = pd.DataFrame({ "Total Count": Names_gender_df, 
"Percentage of Players": Gender_percentage_df})
Heroes_gender_summary_df["Percentage of Players"] = Heroes_gender_summary_df["Percentage of Players"].map("{:.2f}%".format)
Heroes_gender_summary_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [604]:
#Group Players header data by Gender and subset Players
#Count the total of each gender 
Prices_gender_df = Heroes_player_renamed_df.groupby("Gender")["Players"].count()

In [605]:
#Group Players header data by Gender and subset Players
#Find the mean item price of each Gender
Average_gender_purchase_price_df = Heroes_player_renamed_df.groupby("Gender")["Price"].mean()

In [606]:
#Group Players header data by Gender and subset Players
#Find the total of items purchsed for each Gender
Total_gender_purchase_price_df = Heroes_player_renamed_df.groupby("Gender")["Price"].sum()

In [607]:
#Group Players header data by Gender and subset Players
#Find the avergae total for each Genders purchase
Average_total_df = Total_gender_purchase_price_df / Names_gender_df

In [608]:
#Create a purchasing analysis (Gender) dataframe
#Format with $
Heroes_purchase_summary_df = pd.DataFrame({ "Purchase": Prices_gender_df, "Average Purchase Price": Average_gender_purchase_price_df, "Total Purchase Value": Total_gender_purchase_price_df, "Avg Total Purchase per Person": Average_total_df})
Heroes_purchase_summary_df["Average Purchase Price"] = Heroes_purchase_summary_df["Average Purchase Price"].map("${:.2f}".format)
Heroes_purchase_summary_df["Total Purchase Value"] = Heroes_purchase_summary_df["Total Purchase Value"].map("${:.2f}".format)
Heroes_purchase_summary_df["Avg Total Purchase per Person"] = Heroes_purchase_summary_df["Avg Total Purchase per Person"].map("${:.2f}".format)
Heroes_purchase_summary_df

,Purchase,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [609]:
#Find the min and mx of age of players
print(Heroes_player_renamed_df["Age"].max())
print(Heroes_player_renamed_df["Age"].min())

45
7

In [610]:
#Create bins for the age range
#Create gorups to group player ages into 
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 45]
group_ages = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [611]:
#Add a Age Group column
Names_df["Age Group"] = pd.cut(Names_df["Age"], bins, labels=group_ages)

In [612]:
#Group duplicates removed data by age group
#Group dataframe by players
#Find the unique players
Heroes_age_group = Names_df.groupby("Age Group")
Heroes_age_dataframe_df = (Heroes_age_group["Players"].nunique())
##print(Heroes_age_dataframe_df)
#Calculate the percentage of each age group 
Heroes_age_percentage_df = Heroes_age_dataframe_df/ Player_Count_df *100

In [613]:
#Create Dataframe for Total age caount and Percentage of total count 
Heroes_age_summary_df = pd.DataFrame({"Total Count": Heroes_age_dataframe_df, "Percentage of Players": Heroes_age_percentage_df})
#Format with %
Heroes_age_summary_df["Percentage of Players"] = Heroes_age_summary_df["Percentage of Players"].map("{:.2f}%".format)
Heroes_age_summary_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [614]:
#Add age group column
Heroes_player_renamed_df["Age Group"] = pd.cut(Heroes_player_renamed_df["Age"], bins, labels=group_ages)

In [615]:
#Breakdown purchases into age group 
#Count he number of purchaes by age group
Heroes_purchase_age_group = Heroes_player_renamed_df.groupby("Age Group")
Heroes_purchase_age_dataframe_df = (Heroes_purchase_age_group["Price"].count())

In [616]:
#Group by Age group with a subset of Age
#Calculate the average Item Purchase by Age Group
Average_age_purchase_price_df = Heroes_player_renamed_df.groupby("Age Group")["Price"].mean()

In [617]:
#Group by Age Group with a subset of Price
#Calculate the total purchase amount by Age Group
Total_age_purchase_price_df = Heroes_player_renamed_df.groupby("Age Group")["Price"].sum()

In [618]:
#Calculate the Average Total of each age group
Average_total_age_purchase_df = Total_age_purchase_price_df / Heroes_age_dataframe_df

In [619]:
#Create Purchasing Analysis (Age) dataframe
#Format datafram with $
Heroes_purchase_age_summary_df = pd.DataFrame({"Purchase Count": Heroes_purchase_age_dataframe_df, "Average Purchase Price": Average_age_purchase_price_df, "Total Purchase Value": Total_age_purchase_price_df, "Avg Total Purchase per Person": Average_total_age_purchase_df})
Heroes_purchase_age_summary_df["Average Purchase Price"] = Heroes_purchase_age_summary_df["Average Purchase Price"].map("${:.2f}".format)
Heroes_purchase_age_summary_df["Total Purchase Value"] = Heroes_purchase_age_summary_df["Total Purchase Value"].map("${:.2f}".format)
Heroes_purchase_age_summary_df["Avg Total Purchase per Person"] = Heroes_purchase_age_summary_df["Avg Total Purchase per Person"].map("${:.2f}".format)
Heroes_purchase_age_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [620]:
#Create groupby dataframe by Players
#Create groupby dataframe by Price 
#Find the total pruchase price of each player
#Create a groupby dataframe by Players for the count
#Find the total purchase count of each player 
#Create a groupby by Price for the avergae purchase price
#Find the avergae purchase price per user 
Heroes_top_spender_df = Heroes_df.groupby(["SN"])
Heroes_purchasing_grouped_info_df = Heroes_top_spender_df["Price"].sum()
Heroes_purchasing_count_grouped_info_df = Heroes_top_spender_df["SN"].count()
Heroes_purchasing__average_grouped_info_df = Heroes_top_spender_df["Price"].mean()
#Create DataFrame for Top Spenders with Purchase Count, Average Purchase Price, and Total Purchase Value
Top_spender_df = pd.DataFrame({"Purchase Count": Heroes_purchasing_count_grouped_info_df, "Average Purchase Price": Heroes_purchasing__average_grouped_info_df, "Total Purchase Value": Heroes_purchasing_grouped_info_df})

In [621]:
#Sort DataFrame by Total Purchase Value, in descending order 
Heroes_spender_sort_df = Top_spender_df.sort_values("Total Purchase Value", ascending=False)

In [622]:
#Format the DataFrame with $
Heroes_spender_sort_df["Total Purchase Value"] = Heroes_spender_sort_df["Total Purchase Value"].map("${:.2f}".format)
Heroes_spender_sort_df["Average Purchase Price"] = Heroes_spender_sort_df["Average Purchase Price"].map("${:.2f}".format)
Heroes_spender_sort_df.iloc[0:5]

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [623]:
#Create groupby dataframe by Item Name
#Create groupby dataframe by Price 
#Find the total prie of each item purchased
#Create a groupby dataframe by Item for the count
#Find the total purchase count of each item
#Create a groupby by Price for the avergae purchase price of the time
#Find the avergae purchase price per item
Heroes_top_item_df = Heroes_df.groupby(["Item ID", "Item Name"])
Heroes_purchased_item_grouped_info_df = Heroes_top_item_df["Price"].sum()
Heroes_purchased_item_count_grouped_info_df = Heroes_top_item_df["Item Name"].count()
Heroes_purchased_item_average_grouped_info_df = Heroes_top_item_df["Price"].mean()
#Create DataFrame for Most Popular Items with Purchase Count, Average Purchase Price, and Total Purchase Value
Most_profitable_df = pd.DataFrame({"Purchase Count": Heroes_purchased_item_count_grouped_info_df, "Item Price": Heroes_purchased_item_average_grouped_info_df, "Total Purchase Value": Heroes_purchased_item_grouped_info_df })

In [624]:
#Sort DataFrame by Purchase Count 
Heroes_item_sort_df = Most_profitable_df.sort_values("Purchase Count", ascending=False)

In [625]:
#Format DataFrame with $
#Use Iloc to find top five items
Heroes_item_sort_df["Item Price"] = Heroes_item_sort_df["Item Price"].map("${:.2f}".format)
Heroes_item_sort_df["Total Purchase Value"] = Heroes_item_sort_df["Total Purchase Value"].map("${:.2f}".format)
Heroes_item_sort_df.iloc[0:5]

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [626]:
#Create groupby dataframe by Item Name
#Create groupby dataframe by Price 
#Find the total prie of each item purchased
#Create a groupby dataframe by Item for the count
#Find the total purchase count of each item
#Create a groupby by Price for the avergae purchase price of the time
#Find the avergae purchase price per item
Heroes_top_item_df = Heroes_df.groupby(["Item ID", "Item Name"])
Heroes_purchased_item_grouped_info_df = Heroes_top_item_df["Price"].sum()
Heroes_purchased_item_count_grouped_info_df = Heroes_top_item_df["Item Name"].count()
Heroes_purchased_item_average_grouped_info_df = Heroes_top_item_df["Price"].mean()
#Create DataFrame for Most Profitable Items with Purchase Count, Average Purchase Price, and Total Purchase Value
Most_profitable_df = pd.DataFrame({"Purchase Count": Heroes_purchased_item_count_grouped_info_df, "Item Price": Heroes_purchased_item_average_grouped_info_df, "Total Purchase Value": Heroes_purchased_item_grouped_info_df })

In [627]:
#Sort by Total Purchase Value
Heroes_item_sort_df = Most_profitable_df.sort_values("Total Purchase Value", ascending=False)

In [628]:
#Format with $
Heroes_item_sort_df["Item Price"] = Heroes_item_sort_df["Item Price"].map("${:.2f}".format)
Heroes_item_sort_df["Total Purchase Value"] = Heroes_item_sort_df["Total Purchase Value"].map("${:.2f}".format)
Heroes_item_sort_df.iloc[0:5]

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80