In [74]:
import pandas as pd
csv_path = "Resources/purchase_data.csv"
Heroes_df = pd.read_csv(csv_path)
Heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [75]:
Heroes_set_index_df = Heroes_df.set_index(["Purchase ID"])

In [77]:
Heroes_player_renamed_df = Heroes_set_index_df.rename(columns={"SN": "Players"})
Heroes_player_renamed_df

,Players,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...
775,Aethedru70,21,Female,60,Wolf,3.54
776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,Sisur91,7,Male,92,Final Critic,4.19
779,Ennrian78,24,Male,50,Dawn,4.60

In [78]:
Player_Count_df = Heroes_player_renamed_df["Players"].value_counts()
Player_Count_df

Lisosia93          5
Idastidru52        4
Iral74             4
Idai61             3
Haillyrgue51       3
                  ..
Chadirra90         1
Haellysu29         1
Frichosiala98      1
Aelaria33          1
Aerithriaphos45    1
Name: Players, Length: 576, dtype: int64

In [79]:
Heroes_frame_df = pd.DataFrame({"Total Players": [576]})
Heroes_frame_df

   Total Players
0            576

In [80]:
Heroes_item_df = Heroes_player_renamed_df["Item Name"].nunique()
Heroes_average_price_df = Heroes_player_renamed_df["Price"].mean()
Heroes_item_count_df = Heroes_player_renamed_df["Item Name"].count()
Heroes_total_price_df = Heroes_player_renamed_df["Price"].sum()

In [81]:
Heroes_summary_df = pd.DataFrame({"Number of Unique Items": [Heroes_item_df],"Average Price": [Heroes_average_price_df], "Number of Purchases": [Heroes_item_count_df], "Total Revenue": [Heroes_total_price_df]})
Heroes_summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [93]:
Names_df = Heroes_player_renamed_df.drop_duplicates("Players")
Names_df

,Players,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...
773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,Jiskjask80,11,Male,92,Final Critic,4.19
775,Aethedru70,21,Female,60,Wolf,3.54
777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,Sisur91,7,Male,92,Final Critic,4.19

In [142]:
Names_gender_df = Names_df.groupby("Gender")["Players"].count()
Names_gender_df

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: Players, dtype: int64

In [143]:
Gender_percentage_df = Names_gender_df /576
Gender_percentage_df

Gender
Female                   0.140625
Male                     0.840278
Other / Non-Disclosed    0.019097
Name: Players, dtype: float64

In [144]:
Heroes_gender_summary_df = pd.DataFrame({ "Total Count": [484, 81, 11], 
"Percentage of Players": ["84.03%", "14.06%", "1.9%"]}, 
index= ["Male", "Female", "Other / Non-Disclosure"])
Heroes_gender_summary_df

                        Total Count Percentage of Players
Male                            484                84.03%
Female                           81                14.06%
Other / Non-Disclosure           11                  1.9%

In [124]:
Prices_gender_df = Heroes_player_renamed_df.groupby("Gender")["Players"].count()
Prices_gender_df

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Players, dtype: int64

In [130]:
Average_gender_purchase_price_df = Heroes_player_renamed_df.groupby("Gender")["Price"].mean()
Average_gender_purchase_price_df

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [131]:
Average_gender_purchase_price_df = Heroes_player_renamed_df.groupby("Gender")["Price"].sum()
Average_gender_purchase_price_df

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

TypeError: unsupported operand type(s) for /: 'method' and 'int'