In [372]:
import pandas as pd
csv_path = "Resources/purchase_data.csv"
Heroes_df = pd.read_csv(csv_path)
Heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [373]:
Heroes_set_index_df = Heroes_df.set_index(["Purchase ID"])

In [374]:
Heroes_player_renamed_df = Heroes_set_index_df.rename(columns={"SN": "Players"})
Heroes_player_renamed_df

,Players,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...
775,Aethedru70,21,Female,60,Wolf,3.54
776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,Sisur91,7,Male,92,Final Critic,4.19
779,Ennrian78,24,Male,50,Dawn,4.60

In [375]:
Player_Count_df = Heroes_player_renamed_df["Players"].nunique()
Player_Count_df

576

In [376]:
Heroes_frame_df = pd.DataFrame({"Total Players": [Player_Count_df]})
Heroes_frame_df

   Total Players
0            576

In [377]:
Heroes_item_df = Heroes_player_renamed_df["Item Name"].nunique()
Heroes_average_price_df = Heroes_player_renamed_df["Price"].mean()
Heroes_item_count_df = Heroes_player_renamed_df["Item Name"].count()
Heroes_total_price_df = Heroes_player_renamed_df["Price"].sum()

In [378]:
Heroes_summary_df = pd.DataFrame({"Number of Unique Items": [Heroes_item_df],"Average Price": [Heroes_average_price_df], "Number of Purchases": [Heroes_item_count_df], "Total Revenue": [Heroes_total_price_df]})
Heroes_summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [379]:
Names_df = Heroes_player_renamed_df.drop_duplicates("Players")
Names_df

,Players,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...
773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,Jiskjask80,11,Male,92,Final Critic,4.19
775,Aethedru70,21,Female,60,Wolf,3.54
777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,Sisur91,7,Male,92,Final Critic,4.19

In [380]:
Names_gender_df = Names_df.groupby("Gender")["Players"].count()
Names_gender_df

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: Players, dtype: int64

In [381]:
Gender_percentage_df = Names_gender_df / Player_Count_df
Gender_percentage_df

Gender
Female                   0.140625
Male                     0.840278
Other / Non-Disclosed    0.019097
Name: Players, dtype: float64

In [382]:
Heroes_gender_summary_df = pd.DataFrame({ "Total Count": Names_gender_df, 
"Percentage of Players": Gender_percentage_df})
#Formt spot
Heroes_gender_summary_df

                       Total Count  Percentage of Players
Gender
Female                          81               0.140625
Male                           484               0.840278
Other / Non-Disclosed           11               0.019097

In [383]:
Prices_gender_df = Heroes_player_renamed_df.groupby("Gender")["Players"].count()
Prices_gender_df

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Players, dtype: int64

In [384]:
Average_gender_purchase_price_df = Heroes_player_renamed_df.groupby("Gender")["Price"].mean()
Average_gender_purchase_price_df

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [385]:
Total_gender_purchase_price_df = Heroes_player_renamed_df.groupby("Gender")["Price"].sum()
Total_gender_purchase_price_df

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [386]:
Average_total_df = Average_gender_purchase_price_df / Names_gender_df
Average_total_df

Gender
Female                   0.039543
Male                     0.006235
Other / Non-Disclosed    0.304182
dtype: float64

In [387]:
Heroes_purchase_summary_df = pd.DataFrame({ "Purchase": Prices_gender_df, "Average Purchase Price": Average_gender_purchase_price_df, "Total Purchase Value": Total_gender_purchase_price_df, "Avg Total Purchase per Person": Average_total_df})
Heroes_purchase_summary_df

,Purchase,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,0.039543
Male,652,3.017853,1967.64,0.006235
Other / Non-Disclosed,15,3.346000,50.19,0.304182

In [388]:
print(Heroes_player_renamed_df["Age"].max())
print(Heroes_player_renamed_df["Age"].min())

45
7

In [389]:
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 45]
group_ages = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [390]:
pd.cut(Names_df["Age"], bins, labels=group_ages).head()

Purchase ID
0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [391]:
Names_df["Age Group"] = pd.cut(Names_df["Age"], bins, labels=group_ages)
Names_df.head()

,Players,Age,Gender,Item ID,Item Name,Price,Age Group
Purchase ID,,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [392]:
Heroes_age_group = Names_df.groupby("Age Group")
Heroes_age_dataframe_df = (Heroes_age_group["Players"].nunique())
print(Heroes_age_dataframe_df)
Heroes_age_percentage_df = Heroes_age_dataframe_df/ Player_Count_df
print(Heroes_age_percentage_df)

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Players, dtype: int64
Age Group
<10      0.029514
10-14    0.038194
15-19    0.185764
20-24    0.447917
25-29    0.133681
30-34    0.090278
35-39    0.053819
40+      0.020833
Name: Players, dtype: float64

In [393]:
Heroes_age_summary_df = pd.DataFrame({"Total Count": Heroes_age_dataframe_df, "Percentage of Players": Heroes_age_percentage_df})
Heroes_age_summary_df

           Total Count  Percentage of Players
Age Group
<10                 17               0.029514
10-14               22               0.038194
15-19              107               0.185764
20-24              258               0.447917
25-29               77               0.133681
30-34               52               0.090278
35-39               31               0.053819
40+                 12               0.020833

In [394]:
pd.cut(Heroes_player_renamed_df["Age"], bins, labels=group_ages).head()

Purchase ID
0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [395]:
Heroes_player_renamed_df["Age Group"] = pd.cut(Heroes_player_renamed_df["Age"], bins, labels=group_ages)
Heroes_player_renamed_df.head()

,Players,Age,Gender,Item ID,Item Name,Price,Age Group
Purchase ID,,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [396]:
Heroes_purchase_age_group = Heroes_player_renamed_df.groupby("Age Group")
Heroes_purchase_age_dataframe_df = (Heroes_purchase_age_group["Price"].count())
print(Heroes_purchase_age_dataframe_df)

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Price, dtype: int64

In [397]:
Average_age_purchase_price_df = Heroes_player_renamed_df.groupby("Age Group")["Price"].mean()
Average_age_purchase_price_df

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [398]:
Total_age_purchase_price_df = Heroes_player_renamed_df.groupby("Age Group")["Price"].sum()
Total_age_purchase_price_df

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [399]:
Average_total_age_purchase_df = Total_age_purchase_price_df / Heroes_age_dataframe_df
Average_total_age_purchase_df

Age Group
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [400]:
Heroes_purchase_age_summary_df = pd.DataFrame({"Purchase Count": Heroes_purchase_age_dataframe_df, "Average Purchase Price": Average_age_purchase_price_df, "Total Purchase Value": Total_age_purchase_price_df, "Avg Total Purchase per Person": Average_total_age_purchase_df})
Heroes_purchase_age_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

In [404]:
Heroes_players_duplicates_df = Heroes_df[Heroes_df.duplicated(["SN"])]
Heroes_players_duplicates_df.head(50)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
50,50,Saelaephos52,21,Male,22,Amnesia,2.18
67,67,Lisim78,20,Male,138,"Peacekeeper, Wit of Dark Magic",4.74
78,78,Haillyrgue51,7,Male,50,Dawn,4.60
87,87,Aelin32,20,Male,151,Severance,3.40
99,99,Haisrisuir60,23,Male,92,Final Critic,4.19
118,118,Pheodaisun84,30,Male,78,"Glimmer, Ender of the Moon",4.40
120,120,Lisosia93,25,Male,24,Warped Fetish,3.81
126,126,Frichim77,24,Male,75,Brutality Ivory Warmace,2.42
132,132,Inguron55,23,Male,145,Fiery Glass Crusader,4.58
133,133,Phaena87,20,Male,0,Splinter,1.28
134,134,Phyali88,15,Female,2,Verdict,2.48
140,140,Hari50,20,Female,8,"Purgatory, Gem of Regret",3.93
141,141,Zhisrisu83,10,Male,60,Wolf,3.54
146,146,Aidaillodeu39,18,Male,133,Faith's Scimitar,4.09
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79
161,161,Iri67,20,Male,3,Phantomlight,2.49
168,168,Iskjaskst81,20,Male,85,Malificent Bag,1.75
198,198,Chadolyla44,20,Male,153,Mercenary Sabre,3.74
205,205,Jiskimya77,17,Male,149,"Tranquility, Razor of Black Magic",1.75
210,210,Umolrian85,32,Female,136,Ghastly Adamantite Protector,3.58
215,215,Ialallo29,15,Female,40,Second Chance,2.52
223,223,Undirrala66,22,Male,142,Righteous Might,2.62
224,224,Lisosia93,25,Male,157,"Spada, Etcher of Hatred",4.80
232,232,Sundadar27,31,Male,114,Yearning Mageblade,3.82
234,234,Chamimla85,16,Male,97,"Swan Song, Gouger Of Terror",2.50
245,245,Lisim78,20,Male,85,Malificent Bag,1.75
247,247,Iskadarya95,20,Male,82,Nirvana,4.90
253,253,Aesty53,21,Male,28,"Flux, Destroyer of Due Diligence",1.06
255,255,Sondastsda82,24,Male,71,Demise,1.61
256,256,Chamirra53,23,Male,182,Toothpick,4.03
261,261,Tyeosri53,24,Male,132,Persuasion,3.19
264,264,Saesrideu94,35,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
266,266,Siala43,30,Male,113,Solitude's Reaver,4.07
268,268,Inasti31,17,Male,71,Demise,1.61
273,273,Phyali88,15,Female,92,Final Critic,4.88
276,276,Tyidaim51,16,Female,9,"Thorn, Conqueror of the Corrupted",2.73
278,278,Iskichinya81,21,Female,167,"Malice, Legacy of the Queen",3.61
291,291,Idairin51,20,Other / Non-Disclosed,35,Heartless Bone Dualblade,3.45
292,292,Lisasi93,13,Male,70,Hope's End,1.03
293,293,Lisopela58,22,Male,117,"Heartstriker, Legacy of the Light",1.79
297,297,Heosurnuru52,16,Female,169,"Interrogator, Blood Blade of the Queen",2.18
299,299,Lirtossa84,11,Male,164,Exiled Doomblade,1.63
305,305,Siallylis44,20,Male,179,"Wolf, Promise of the Moonwalker",4.48
311,311,Anallorgue57,8,Male,71,Demise,1.61
315,315,Tyisur83,23,Male,107,"Splitter, Foe Of Subtlety",2.18
318,318,Iskadarya95,20,Male,91,Celeste,4.17
319,319,Rarallo90,33,Male,144,Blood Infused Guardian,1.94
323,323,Tyisur83,23,Male,131,Fury,1.44
325,325,Hiasri33,23,Male,54,Eternal Cleaver,2.50
343,343,Chadilsasta32,23,Male,49,"The Oculus, Token of Lost Worlds",2.96