In [464]:
import pandas as pd
csv_path = "Resources/purchase_data.csv"
Heroes_df = pd.read_csv(csv_path)
Heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [465]:
Heroes_set_index_df = Heroes_df.set_index(["Purchase ID"])

In [466]:
Heroes_player_renamed_df = Heroes_set_index_df.rename(columns={"SN": "Players"})
Heroes_player_renamed_df

,Players,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...
775,Aethedru70,21,Female,60,Wolf,3.54
776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,Sisur91,7,Male,92,Final Critic,4.19
779,Ennrian78,24,Male,50,Dawn,4.60

In [467]:
Player_Count_df = Heroes_player_renamed_df["Players"].nunique()
Player_Count_df

576

In [468]:
Heroes_frame_df = pd.DataFrame({"Total Players": [Player_Count_df]})
Heroes_frame_df

   Total Players
0            576

In [469]:
Heroes_item_df = Heroes_player_renamed_df["Item Name"].nunique()
Heroes_average_price_df = Heroes_player_renamed_df["Price"].mean()
Heroes_item_count_df = Heroes_player_renamed_df["Item Name"].count()
Heroes_total_price_df = Heroes_player_renamed_df["Price"].sum()

In [470]:
Heroes_summary_df = pd.DataFrame({"Number of Unique Items": [Heroes_item_df],"Average Price": [Heroes_average_price_df], "Number of Purchases": [Heroes_item_count_df], "Total Revenue": [Heroes_total_price_df]})
Heroes_summary_df["Average Price"] = Heroes_summary_df["Average Price"].map("${:.2f}".format)
Heroes_summary_df["Total Revenue"] = Heroes_summary_df["Total Revenue"].map("${:.2f}".format)
Heroes_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [471]:
Names_df = Heroes_player_renamed_df.drop_duplicates("Players")
Names_df

,Players,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...
773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,Jiskjask80,11,Male,92,Final Critic,4.19
775,Aethedru70,21,Female,60,Wolf,3.54
777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,Sisur91,7,Male,92,Final Critic,4.19

In [472]:
Names_gender_df = Names_df.groupby("Gender")["Players"].count()
Names_gender_df

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: Players, dtype: int64

In [473]:
Gender_percentage_df = Names_gender_df / Player_Count_df *100
Gender_percentage_df

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: Players, dtype: float64

In [474]:
Heroes_gender_summary_df = pd.DataFrame({ "Total Count": Names_gender_df, 
"Percentage of Players": Gender_percentage_df})
Heroes_gender_summary_df["Percentage of Players"] = Heroes_gender_summary_df["Percentage of Players"].map("{:.2f}%".format)
Heroes_gender_summary_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [475]:
Prices_gender_df = Heroes_player_renamed_df.groupby("Gender")["Players"].count()
Prices_gender_df

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Players, dtype: int64

In [476]:
Average_gender_purchase_price_df = Heroes_player_renamed_df.groupby("Gender")["Price"].mean()
Average_gender_purchase_price_df

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [477]:
Total_gender_purchase_price_df = Heroes_player_renamed_df.groupby("Gender")["Price"].sum()
Total_gender_purchase_price_df

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [478]:
Average_total_df = Total_gender_purchase_price_df / Names_gender_df
Average_total_df

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [479]:
Heroes_purchase_summary_df = pd.DataFrame({ "Purchase": Prices_gender_df, "Average Purchase Price": Average_gender_purchase_price_df, "Total Purchase Value": Total_gender_purchase_price_df, "Avg Total Purchase per Person": Average_total_df})
Heroes_purchase_summary_df["Average Purchase Price"] = Heroes_purchase_summary_df["Average Purchase Price"].map("${:.2f}".format)
Heroes_purchase_summary_df["Total Purchase Value"] = Heroes_purchase_summary_df["Total Purchase Value"].map("${:.2f}".format)
Heroes_purchase_summary_df["Avg Total Purchase per Person"] = Heroes_purchase_summary_df["Avg Total Purchase per Person"].map("${:.2f}".format)
Heroes_purchase_summary_df

,Purchase,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [480]:
print(Heroes_player_renamed_df["Age"].max())
print(Heroes_player_renamed_df["Age"].min())

45
7

In [481]:
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 45]
group_ages = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [482]:
pd.cut(Names_df["Age"], bins, labels=group_ages).head()

Purchase ID
0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [483]:
Names_df["Age Group"] = pd.cut(Names_df["Age"], bins, labels=group_ages)
Names_df.head()

,Players,Age,Gender,Item ID,Item Name,Price,Age Group
Purchase ID,,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [484]:
Heroes_age_group = Names_df.groupby("Age Group")
Heroes_age_dataframe_df = (Heroes_age_group["Players"].nunique())
print(Heroes_age_dataframe_df)
Heroes_age_percentage_df = Heroes_age_dataframe_df/ Player_Count_df
print(Heroes_age_percentage_df)

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Players, dtype: int64
Age Group
<10      0.029514
10-14    0.038194
15-19    0.185764
20-24    0.447917
25-29    0.133681
30-34    0.090278
35-39    0.053819
40+      0.020833
Name: Players, dtype: float64

In [485]:
Heroes_age_summary_df = pd.DataFrame({"Total Count": Heroes_age_dataframe_df, "Percentage of Players": Heroes_age_percentage_df})
Heroes_age_summary_df

           Total Count  Percentage of Players
Age Group
<10                 17               0.029514
10-14               22               0.038194
15-19              107               0.185764
20-24              258               0.447917
25-29               77               0.133681
30-34               52               0.090278
35-39               31               0.053819
40+                 12               0.020833

In [486]:
pd.cut(Heroes_player_renamed_df["Age"], bins, labels=group_ages).head()

Purchase ID
0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [487]:
Heroes_player_renamed_df["Age Group"] = pd.cut(Heroes_player_renamed_df["Age"], bins, labels=group_ages)
Heroes_player_renamed_df.head()

,Players,Age,Gender,Item ID,Item Name,Price,Age Group
Purchase ID,,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [488]:
Heroes_purchase_age_group = Heroes_player_renamed_df.groupby("Age Group")
Heroes_purchase_age_dataframe_df = (Heroes_purchase_age_group["Price"].count())
print(Heroes_purchase_age_dataframe_df)

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Price, dtype: int64

In [489]:
Average_age_purchase_price_df = Heroes_player_renamed_df.groupby("Age Group")["Price"].mean()
Average_age_purchase_price_df

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [490]:
Total_age_purchase_price_df = Heroes_player_renamed_df.groupby("Age Group")["Price"].sum()
Total_age_purchase_price_df

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [491]:
Average_total_age_purchase_df = Total_age_purchase_price_df / Heroes_age_dataframe_df
Average_total_age_purchase_df

Age Group
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [492]:
Heroes_purchase_age_summary_df = pd.DataFrame({"Purchase Count": Heroes_purchase_age_dataframe_df, "Average Purchase Price": Average_age_purchase_price_df, "Total Purchase Value": Total_age_purchase_price_df, "Avg Total Purchase per Person": Average_total_age_purchase_df})
Heroes_purchase_age_summary_df["Average Purchase Price"] = Heroes_purchase_age_summary_df["Average Purchase Price"].map("${:.2f}".format)
Heroes_purchase_age_summary_df["Total Purchase Value"] = Heroes_purchase_age_summary_df["Total Purchase Value"].map("${:.2f}".format)
Heroes_purchase_age_summary_df["Avg Total Purchase per Person"] = Heroes_purchase_age_summary_df["Avg Total Purchase per Person"].map("${:.2f}".format)
Heroes_purchase_age_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [493]:
Heroes_top_spender_df = Heroes_df.groupby(["SN"])
Heroes_purchasing_grouped_info_df = Heroes_top_spender_df["Price"].sum()
Heroes_purchasing_count_grouped_info_df = Heroes_top_spender_df["SN"].count()
Heroes_purchasing__average_grouped_info_df = Heroes_top_spender_df["Price"].mean()

Top_spender_df = pd.DataFrame({"Purchase Count": Heroes_purchasing_count_grouped_info_df, "Average Purchase Price": Heroes_purchasing__average_grouped_info_df, "Total Purchase Value": Heroes_purchasing_grouped_info_df})

Top_spender_df

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76                1                2.280000                  2.28
Adastirin33                 1                4.480000                  4.48
Aeda94                      1                4.910000                  4.91
Aela59                      1                4.320000                  4.32
Aelaria33                   1                1.790000                  1.79
...                       ...                     ...                   ...
Yathecal82                  3                2.073333                  6.22
Yathedeu43                  2                3.010000                  6.02
Yoishirrala98               1                4.580000                  4.58
Zhisrisu83                  2                3.945000                  7.89
Zontibe81                   3                2.676667                  8.03

[576 rows x 3 columns]

In [495]:
Heroes_spender_sort_df = Top_spender_df.sort_values("Total Purchase Value", ascending=False)
Heroes_spender_sort_df

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10
...                     ...                     ...                   ...
Ililsasya43               1                1.020000                  1.02
Irilis75                  1                1.020000                  1.02
Aidai61                   1                1.010000                  1.01
Chanirra79                1                1.010000                  1.01
Alo38                     1                1.000000                  1.00

[576 rows x 3 columns]

In [496]:
Heroes_spender_sort_df["Total Purchase Value"] = Heroes_spender_sort_df["Total Purchase Value"].map("${:.2f}".format)
Heroes_spender_sort_df["Average Purchase Price"] = Heroes_spender_sort_df["Average Purchase Price"].map("${:.2f}".format)
Heroes_spender_sort_df.iloc[0:5]

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [508]:
Heroes_top_item_df = Heroes_df.groupby(["Item ID", "Item Name"])
Heroes_purchased_item_grouped_info_df = Heroes_top_item_df["Price"].sum()
Heroes_purchased_item_count_grouped_info_df = Heroes_top_item_df["Item Name"].count()
Heroes_purchased_item_average_grouped_info_df = Heroes_top_item_df["Price"].mean()

Most_profitable_df = pd.DataFrame({"Purchase Count": Heroes_purchased_item_count_grouped_info_df, "Item Price": Heroes_purchased_item_average_grouped_info_df, "Total Purchase Value": Heroes_purchased_item_grouped_info_df })

Most_profitable_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,1.2800,5.12
1,Crucifer,4,2.9425,11.77
2,Verdict,6,2.4800,14.88
3,Phantomlight,6,2.4900,14.94
4,Bloodlord's Fetish,5,1.7000,8.50
...,...,...,...,...
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.2300,50.76
179,"Wolf, Promise of the Moonwalker",6,4.4800,26.88
181,Reaper's Toll,5,1.6600,8.30
182,Toothpick,3,4.0300,12.09
183,Dragon's Greatsword,3,1.0900,3.27

In [512]:
Heroes_item_sort_df = Most_profitable_df.sort_values("Purchase Count", ascending=False)
Heroes_item_sort_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77
...,...,...,...,...
42,The Decapitator,1,1.750000,1.75
51,Endbringer,1,4.660000,4.66
118,"Ghost Reaver, Longsword of Magic",1,2.170000,2.17
104,Gladiator's Glaive,1,1.930000,1.93
91,Celeste,1,4.170000,4.17

In [513]:
Heroes_item_sort_df["Item Price"] = Heroes_item_sort_df["Item Price"].map("${:.2f}".format)
Heroes_item_sort_df["Total Purchase Value"] = Heroes_item_sort_df["Total Purchase Value"].map("${:.2f}".format)
Heroes_item_sort_df.iloc[0:5]

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [505]:
Heroes_top_item_df = Heroes_df.groupby(["Item ID", "Item Name"])
Heroes_purchased_item_grouped_info_df = Heroes_top_item_df["Price"].sum()
Heroes_purchased_item_count_grouped_info_df = Heroes_top_item_df["Item Name"].count()
Heroes_purchased_item_average_grouped_info_df = Heroes_top_item_df["Price"].mean()

Most_profitable_df = pd.DataFrame({"Purchase Count": Heroes_purchased_item_count_grouped_info_df, "Item Price": Heroes_purchased_item_average_grouped_info_df, "Total Purchase Value": Heroes_purchased_item_grouped_info_df })

Most_profitable_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,1.2800,5.12
1,Crucifer,4,2.9425,11.77
2,Verdict,6,2.4800,14.88
3,Phantomlight,6,2.4900,14.94
4,Bloodlord's Fetish,5,1.7000,8.50
...,...,...,...,...
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.2300,50.76
179,"Wolf, Promise of the Moonwalker",6,4.4800,26.88
181,Reaper's Toll,5,1.6600,8.30
182,Toothpick,3,4.0300,12.09
183,Dragon's Greatsword,3,1.0900,3.27

In [511]:
Heroes_item_sort_df = Most_profitable_df.sort_values("Total Purchase Value", ascending=False)
Heroes_item_sort_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,1.060000,2.12
125,Whistling Mithril Warblade,2,1.000000,2.00
126,Exiled Mithril Longsword,1,2.000000,2.00
104,Gladiator's Glaive,1,1.930000,1.93
42,The Decapitator,1,1.750000,1.75

In [507]:
Heroes_item_sort_df["Item Price"] = Heroes_item_sort_df["Item Price"].map("${:.2f}".format)
Heroes_item_sort_df["Total Purchase Value"] = Heroes_item_sort_df["Total Purchase Value"].map("${:.2f}".format)
Heroes_item_sort_df.iloc[0:5]

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80