In [120]:
import pandas as pd
csv_path = "Resources/purchase_data.csv"
Heroes_df = pd.read_csv(csv_path)
Heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [121]:
Heroes_set_index_df = Heroes_df.set_index(["Purchase ID"])

In [122]:
Heroes_player_renamed_df = Heroes_set_index_df.rename(columns={"SN": "Players"})
Heroes_player_renamed_df

,Players,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...
775,Aethedru70,21,Female,60,Wolf,3.54
776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,Sisur91,7,Male,92,Final Critic,4.19
779,Ennrian78,24,Male,50,Dawn,4.60

In [123]:
Player_Count_df = Heroes_player_renamed_df["Players"].nunique()
Player_Count_df

576

In [124]:
Heroes_frame_df = pd.DataFrame({"Total Players": [Player_Count_df]})
Heroes_frame_df

   Total Players
0            576

In [125]:
Heroes_item_df = Heroes_player_renamed_df["Item Name"].nunique()
Heroes_average_price_df = Heroes_player_renamed_df["Price"].mean()
Heroes_item_count_df = Heroes_player_renamed_df["Item Name"].count()
Heroes_total_price_df = Heroes_player_renamed_df["Price"].sum()

In [126]:
Heroes_summary_df = pd.DataFrame({"Number of Unique Items": [Heroes_item_df],"Average Price": [Heroes_average_price_df], "Number of Purchases": [Heroes_item_count_df], "Total Revenue": [Heroes_total_price_df]})
Heroes_summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [127]:
Names_df = Heroes_player_renamed_df.drop_duplicates("Players")
Names_df

,Players,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...
773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,Jiskjask80,11,Male,92,Final Critic,4.19
775,Aethedru70,21,Female,60,Wolf,3.54
777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,Sisur91,7,Male,92,Final Critic,4.19

In [128]:
Names_gender_df = Names_df.groupby("Gender")["Players"].count()
Names_gender_df

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: Players, dtype: int64

In [129]:
Gender_percentage_df = Names_gender_df / Player_Count_df
Gender_percentage_df

Gender
Female                   0.140625
Male                     0.840278
Other / Non-Disclosed    0.019097
Name: Players, dtype: float64

In [130]:
Heroes_gender_summary_df = pd.DataFrame({ "Total Count": Names_gender_df, 
"Percentage of Players": Gender_percentage_df})
#Formt spot
Heroes_gender_summary_df

                       Total Count  Percentage of Players
Gender
Female                          81               0.140625
Male                           484               0.840278
Other / Non-Disclosed           11               0.019097

In [131]:
Prices_gender_df = Heroes_player_renamed_df.groupby("Gender")["Players"].count()
Prices_gender_df

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Players, dtype: int64

In [132]:
Average_gender_purchase_price_df = Heroes_player_renamed_df.groupby("Gender")["Price"].mean()
Average_gender_purchase_price_df

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [133]:
Total_gender_purchase_price_df = Heroes_player_renamed_df.groupby("Gender")["Price"].sum()
Total_gender_purchase_price_df

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [134]:
Average_total_df = Average_gender_purchase_price_df / Names_gender_df
Average_total_df

Gender
Female                   0.039543
Male                     0.006235
Other / Non-Disclosed    0.304182
dtype: float64

In [135]:
Heroes_purchase_summary_df = pd.DataFrame({ "Purchase": Prices_gender_df, "Average Purchase Price": Average_gender_purchase_price_df, "Total Purchase Value": Total_gender_purchase_price_df, "Avg Total Purchase per Person": Average_total_df})
Heroes_purchase_summary_df

,Purchase,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,0.039543
Male,652,3.017853,1967.64,0.006235
Other / Non-Disclosed,15,3.346000,50.19,0.304182