In [35]:
import pandas as pd
csv_path = "Resources/purchase_data.csv"
Heroes_df = pd.read_csv(csv_path)
Heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [36]:
Heroes_set_index_df = Heroes_df.set_index(["Purchase ID"])

In [37]:
Heroes_player_renamed_df = Heroes_set_index_df.rename(columns={"SN": "Players"})
Heroes_player_renamed_df

,Players,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...
775,Aethedru70,21,Female,60,Wolf,3.54
776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,Sisur91,7,Male,92,Final Critic,4.19
779,Ennrian78,24,Male,50,Dawn,4.60

In [38]:
Player_Count_df = Heroes_player_renamed_df["Players"].value_counts()
Player_Count_df

Lisosia93          5
Idastidru52        4
Iral74             4
Idai61             3
Haillyrgue51       3
                  ..
Chadirra90         1
Haellysu29         1
Frichosiala98      1
Aelaria33          1
Aerithriaphos45    1
Name: Players, Length: 576, dtype: int64

In [39]:
Heroes_frame_df = pd.DataFrame({"Total Players": [576]})
Heroes_frame_df

   Total Players
0            576

In [40]:
Heroes_item_df = Heroes_player_renamed_df["Item Name"].nunique()
Heroes_average_price_df = Heroes_player_renamed_df["Price"].mean()
Heroes_item_count_df = Heroes_player_renamed_df["Item Name"].count()
Heroes_total_price_df = Heroes_player_renamed_df["Price"].sum()

In [41]:
Heroes_summary_df = pd.DataFrame({"Number of Unique Items": [Heroes_item_df],"Average Price": [Heroes_average_price_df], "Number of Purchases": [Heroes_item_count_df], "Total Revenue": [Heroes_total_price_df]})
Heroes_summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [51]:
Heroes_players_gender_df = Heroes_player_renamed_df.iloc[:, [0, 2]]
Heroes_players_gender_df

                   Players  Gender
Purchase ID
0                  Lisim78    Male
1              Lisovynya38    Male
2               Ithergue48    Male
3            Chamassasya86    Male
4                Iskosia90    Male
...                    ...     ...
775             Aethedru70  Female
776                 Iral74    Male
777             Yathecal72    Male
778                Sisur91    Male
779              Ennrian78    Male

[780 rows x 2 columns]

In [58]:
Heroes_groupedby_players_df = Heroes_players_gender_df.groupby(['Players'])
Heroes_groupedby_players_df.head()

                   Players  Gender
Purchase ID
0                  Lisim78    Male
1              Lisovynya38    Male
2               Ithergue48    Male
3            Chamassasya86    Male
4                Iskosia90    Male
...                    ...     ...
775             Aethedru70  Female
776                 Iral74    Male
777             Yathecal72    Male
778                Sisur91    Male
779              Ennrian78    Male

[780 rows x 2 columns]

In [65]:
Heroes_gender_values_df =Heroes_groupedby_players_df['Players'].value_counts
Heroes_gender_values_df.head()

AttributeError: 'function' object has no attribute 'head'