In [897]:
import pandas as pd
csv_path = "Resources/purchase_data.csv"
Heroes_df = pd.read_csv(csv_path)
Heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [898]:
Heroes_set_index_df = Heroes_df.set_index(["Purchase ID"])

In [899]:
Heroes_player_renamed_df = Heroes_set_index_df.rename(columns={"SN": "Players"})
Heroes_player_renamed_df

,Players,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...
775,Aethedru70,21,Female,60,Wolf,3.54
776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,Sisur91,7,Male,92,Final Critic,4.19
779,Ennrian78,24,Male,50,Dawn,4.60

In [900]:
Player_Count_df = Heroes_player_renamed_df["Players"].nunique()
Player_Count_df

576

In [901]:
Heroes_frame_df = pd.DataFrame({"Total Players": [Player_Count_df]})
Heroes_frame_df

   Total Players
0            576

In [902]:
Heroes_item_df = Heroes_player_renamed_df["Item Name"].nunique()
Heroes_average_price_df = Heroes_player_renamed_df["Price"].mean()
Heroes_item_count_df = Heroes_player_renamed_df["Item Name"].count()
Heroes_total_price_df = Heroes_player_renamed_df["Price"].sum()

In [903]:
Heroes_summary_df = pd.DataFrame({"Number of Unique Items": [Heroes_item_df],"Average Price": [Heroes_average_price_df], "Number of Purchases": [Heroes_item_count_df], "Total Revenue": [Heroes_total_price_df]})
Heroes_summary_df["Average Price"] = Heroes_summary_df["Average Price"].map("${:.2f}".format)
Heroes_summary_df["Total Revenue"] = Heroes_summary_df["Total Revenue"].map("${:.2f}".format)
Heroes_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [904]:
Names_df = Heroes_player_renamed_df.drop_duplicates("Players")
Names_df

,Players,Age,Gender,Item ID,Item Name,Price
Purchase ID,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...
773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,Jiskjask80,11,Male,92,Final Critic,4.19
775,Aethedru70,21,Female,60,Wolf,3.54
777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,Sisur91,7,Male,92,Final Critic,4.19

In [905]:
Names_gender_df = Names_df.groupby("Gender")["Players"].count()
Names_gender_df

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: Players, dtype: int64

In [906]:
Gender_percentage_df = Names_gender_df / Player_Count_df *100
Gender_percentage_df

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: Players, dtype: float64

In [907]:
Heroes_gender_summary_df = pd.DataFrame({ "Total Count": Names_gender_df, 
"Percentage of Players": Gender_percentage_df})
Heroes_gender_summary_df["Percentage of Players"] = Heroes_gender_summary_df["Percentage of Players"].map("{:.2f}%".format)
Heroes_gender_summary_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [908]:
Prices_gender_df = Heroes_player_renamed_df.groupby("Gender")["Players"].count()
Prices_gender_df

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Players, dtype: int64

In [909]:
Average_gender_purchase_price_df = Heroes_player_renamed_df.groupby("Gender")["Price"].mean()
Average_gender_purchase_price_df

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [910]:
Total_gender_purchase_price_df = Heroes_player_renamed_df.groupby("Gender")["Price"].sum()
Total_gender_purchase_price_df

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [911]:
Average_total_df = Total_gender_purchase_price_df / Names_gender_df
Average_total_df

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [912]:
Heroes_purchase_summary_df = pd.DataFrame({ "Purchase": Prices_gender_df, "Average Purchase Price": Average_gender_purchase_price_df, "Total Purchase Value": Total_gender_purchase_price_df, "Avg Total Purchase per Person": Average_total_df})
Heroes_purchase_summary_df["Average Purchase Price"] = Heroes_purchase_summary_df["Average Purchase Price"].map("${:.2f}".format)
Heroes_purchase_summary_df["Total Purchase Value"] = Heroes_purchase_summary_df["Total Purchase Value"].map("${:.2f}".format)
Heroes_purchase_summary_df["Avg Total Purchase per Person"] = Heroes_purchase_summary_df["Avg Total Purchase per Person"].map("${:.2f}".format)
Heroes_purchase_summary_df

,Purchase,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [913]:
print(Heroes_player_renamed_df["Age"].max())
print(Heroes_player_renamed_df["Age"].min())

45
7

In [914]:
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 45]
group_ages = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [915]:
pd.cut(Names_df["Age"], bins, labels=group_ages).head()

Purchase ID
0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [916]:
Names_df["Age Group"] = pd.cut(Names_df["Age"], bins, labels=group_ages)
Names_df.head()

,Players,Age,Gender,Item ID,Item Name,Price,Age Group
Purchase ID,,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [917]:
Heroes_age_group = Names_df.groupby("Age Group")
Heroes_age_dataframe_df = (Heroes_age_group["Players"].nunique())
print(Heroes_age_dataframe_df)
Heroes_age_percentage_df = Heroes_age_dataframe_df/ Player_Count_df
print(Heroes_age_percentage_df)

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: Players, dtype: int64
Age Group
<10      0.029514
10-14    0.038194
15-19    0.185764
20-24    0.447917
25-29    0.133681
30-34    0.090278
35-39    0.053819
40+      0.020833
Name: Players, dtype: float64

In [918]:
Heroes_age_summary_df = pd.DataFrame({"Total Count": Heroes_age_dataframe_df, "Percentage of Players": Heroes_age_percentage_df})
Heroes_age_summary_df

           Total Count  Percentage of Players
Age Group
<10                 17               0.029514
10-14               22               0.038194
15-19              107               0.185764
20-24              258               0.447917
25-29               77               0.133681
30-34               52               0.090278
35-39               31               0.053819
40+                 12               0.020833

In [919]:
pd.cut(Heroes_player_renamed_df["Age"], bins, labels=group_ages).head()

Purchase ID
0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [920]:
Heroes_player_renamed_df["Age Group"] = pd.cut(Heroes_player_renamed_df["Age"], bins, labels=group_ages)
Heroes_player_renamed_df.head()

,Players,Age,Gender,Item ID,Item Name,Price,Age Group
Purchase ID,,,,,,,
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [921]:
Heroes_purchase_age_group = Heroes_player_renamed_df.groupby("Age Group")
Heroes_purchase_age_dataframe_df = (Heroes_purchase_age_group["Price"].count())
print(Heroes_purchase_age_dataframe_df)

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Price, dtype: int64

In [922]:
Average_age_purchase_price_df = Heroes_player_renamed_df.groupby("Age Group")["Price"].mean()
Average_age_purchase_price_df

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [923]:
Total_age_purchase_price_df = Heroes_player_renamed_df.groupby("Age Group")["Price"].sum()
Total_age_purchase_price_df

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [924]:
Average_total_age_purchase_df = Total_age_purchase_price_df / Heroes_age_dataframe_df
Average_total_age_purchase_df

Age Group
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [932]:
Heroes_purchase_age_summary_df = pd.DataFrame({"Purchase Count": Heroes_purchase_age_dataframe_df, "Average Purchase Price": Average_age_purchase_price_df, "Total Purchase Value": Total_age_purchase_price_df, "Avg Total Purchase per Person": Average_total_age_purchase_df})
Heroes_purchase_age_summary_df["Average Purchase Price"] = Heroes_purchase_age_summary_df["Average Purchase Price"].map("${:.2f}".format)
Heroes_purchase_age_summary_df["Total Purchase Value"] = Heroes_purchase_age_summary_df["Total Purchase Value"].map("${:.2f}".format)
Heroes_purchase_age_summary_df["Avg Total Purchase per Person"] = Heroes_purchase_age_summary_df["Avg Total Purchase per Person"].map("${:.2f}".format)
Heroes_purchase_age_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [926]:
Heroes_grouped_SN_df = Heroes_df.groupby(by=["SN"]).sum()
Heroes_grouped_SN_df

               Purchase ID  Age  Item ID  Price
SN
Adairialis76           467   16      123   2.28
Adastirin33            142   35      175   4.48
Aeda94                 388   17      128   4.91
Aela59                  28   21      119   4.32
Aelaria33              630   23      171   1.79
...                    ...  ...      ...    ...
Yathecal82            1400   60      241   6.22
Yathedeu43             688   44      143   6.02
Yoishirrala98          572   17      145   4.58
Zhisrisu83             195   20       85   7.89
Zontibe81             1019   63      247   8.03

[576 rows x 4 columns]

In [927]:
Heroes_sorted_df = Heroes_grouped_SN_df.sort_values("Price",ascending=False)
Heroes_sorted_df

             Purchase ID  Age  Item ID  Price
SN
Lisosia93           1630  125      442  18.96
Idastidru52         1999   96      527  15.45
Chamjask73          1306   66      339  13.83
Iral74              2285   84      518  13.62
Iskadarya95          713   60      321  13.10
...                  ...  ...      ...    ...
Ililsasya43          702   19       12   1.02
Irilis75             582   20       19   1.02
Aidai61              282   21      155   1.01
Chanirra79           586   23      155   1.01
Alo38                 63   20      125   1.00

[576 rows x 4 columns]

In [928]:
Top_heroes_spenders_df = Heroes_sorted_df.iloc[0:5]
print(Top_heroes_spenders_df)

             Purchase ID  Age  Item ID  Price
SN
Lisosia93           1630  125      442  18.96
Idastidru52         1999   96      527  15.45
Chamjask73          1306   66      339  13.83
Iral74              2285   84      518  13.62
Iskadarya95          713   60      321  13.10

In [929]:
Heroes_players_sorted_df = Heroes_df.sort_values("SN",ascending=False)
Heroes_players_sorted_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
17,17,Zontibe81,21,Male,161,Devine,1.76
442,442,Zontibe81,21,Male,84,Arcane Gem,3.79
560,560,Zontibe81,21,Male,2,Verdict,2.48
141,141,Zhisrisu83,10,Male,60,Wolf,3.54
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35
...,...,...,...,...,...,...,...
630,630,Aelaria33,23,Male,171,Scalpel,1.79
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
388,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",4.91
142,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,4.48
467,467,Adairialis76,16,Male,123,Twilight's Carver,2.28

In [930]:
Heroes_players_count_df = Heroes_players_sorted_df.pivot_table(index=['SN'], aggfunc='size')
Heroes_players_count_df

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Length: 576, dtype: int64